<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow-lg">

    <div class="container">

        <a href="/" class="navbar-brand fw-bold d-flex align-items-center">
            <i class="bi bi-controller me-2 fs-2"></i>GameList
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuPrincipal">

            <ul class="navbar-nav mx-auto mb-2 mb-md-0 d-none d-md-flex">
                <li class="nav-item">
                    <a href="#" class="nav-link active">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Características</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Cómo Funciona</a>
                </li>
            </ul>

            <div class="d-flex flex-column flex-md-row gap-2 mt-3 mb-2 my-md-0 align-items-end align-items-md-center ">
                <a href="" class="btn btn-outline-light px-4 btn-fixed-mobile"><i class="bi bi-box-arrow-in-right me-1"></i>Iniciar Sesión</a>
                <a href="" class="btn btn-secondary px-4 btn-fixed-mobile">Regístrate</a>
            </div>

        </div>

    </div>

</nav>
             