<!-- Vista de error, añadimos información detallada para facilitar la depuración, estilo de margin-top para vencer el navbar fijo -->
<h1 style="margin-top: 7rem;"><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>