@import "theme.css";

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
/* Clase para el carrusel, borde redondeado en escritorio */
.carousel-inner {
    border-radius: 0;
}

@media (min-width: 768px) {
    .carousel-inner {
        border-radius: 1rem; 
    }
}

/* Clase para botones barra nav*/
.btn-fixed-mobile {
    width: 200px; /* Ancho fijo para que ambos sean iguales */
}

/* En escritorio volvemos al ancho automático */
@media (min-width: 992px) {
    .btn-fixed-mobile {
        width: auto;
    }
}

/* Clase para altura de hero */
.hero-viewport {
    height: 75vh; 
    object-fit: cover;
    filter: blur(1px) brightness(0.5);
}

@media (max-width: 768px) {
    .hero-viewport {
        height: 50vh;
    }
}

/* Altura fija para que todas las tarjetas sean iguales*/
.card-cover {
    min-height: 350px;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay; /* esta propiedad me la saco de la IA para poder superponer un color oscuro y que el fondo y el texto sean legibles, podria haber usado opacity pero quise probar esta*/
    transition: transform 0.3s ease; 
}

.card-cover:hover {
    transform: scale(1.02);
}

/* Estilo para foto card games */
.card-game-img {
    width: 100%;
    aspect-ratio: 3/4; /* Proporción típica de caratulas de juegos */
    object-fit: cover;
}