@import "theme.css";

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* Clase para botones gemelos en móvil */
.btn-fixed-mobile {
    width: 200px; /* Ancho fijo para que ambos sean iguales */
}

/* En escritorio volvemos al ancho automático */
@media (min-width: 768px) {
    .btn-fixed-mobile {
        width: auto;
    }
}

/* Creamos una clase que se adapte al viewport */
.hero-viewport {
    height: 75vh; /* 75% de la altura de la pantalla */
    object-fit: cover;
    filter: blur(1px) brightness(0.5);
}

/* En móviles podemos hacerla más pequeña si queremos */
@media (max-width: 768px) {
    .hero-viewport {
        height: 50vh;
    }
}